{{>header}}
    <!-- welcome section -->
    <section class="w3l-feature-8">
        <div class="features-main py-5">
            <div class="container py-md-5 py-4">
                    <div class="row features text-center">
                <div class="offset-lg-4 col-lg-4 col-sm-6 mt-sm-0 mt-5">
                    <div class="feature-body">
                        <div class="card">
                            <div class="card-header">
                                <div class="title-heading-w3 text-center mx-auto pb-sm-4">
                                    <h3 class="title-main text-info">Registration </h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <form method="post" id="form">
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="text" placeholder="Enter your UserName" class="form-control"
                                                name="username" id="username">
                                        </div>
                                    </div>
                                    
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="email" placeholder="Enter your email"
                                                class="form-control" name="email" id="email">
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="tel" placeholder="Enter Mobile Number"
                                                class="form-control" name="mobile" id="mobile">
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="password" placeholder="Enter your Password"
                                                class="form-control" name="password" id="password">
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="submit" class="btn btn-sm btn-primary" name="btn-login"
                                                id="btn-login">
                                            <input type="reset" class="btn btn-sm btn-danger">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- //welcome section -->

    <!-- //about-2 section -->
{{>footer}}
